name: ruby-rspec

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    name: Test with Ruby ${{ matrix.ruby_version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby: [2.7, 2.6, 2.5]

    steps:
      - uses: actions/checkout@v1
      - name: Set up Ruby ${{ matrix.ruby }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}

      - name: Build and test with Rspec
        run: |
          gem install bundler
          bundle install --jobs 4 --retry 3
          bundle exec rspec
