name: ruby-rspec

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    name: Test with Ruby ${{ matrix.ruby_version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby_version: ['2.7.x', '2.6.x', '2.5.x', '2.4.x']

    steps:
      - uses: actions/checkout@v1
      - name: Set up Ruby ${{ matrix.ruby_version }}
        uses: actions/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby_version }}

      - name: Build and test with Rspec
        run: |
          gem install bundler
          bundle install --jobs 4 --retry 3
          bundle exec rspec
